 *{
     height: 100%;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    margin: 0%;
}
body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
header{
    height: 10%;
    width: 100%;
    background-color:rgb(176, 20, 20);
    text-align: center;
    justify-content: end;
    display: flex;
}
.head {
    margin-left: 7%;
    margin-top: .5%;
    width: 10%;
    height: 80%;
    display: flex;  
    margin-right: 1%;
}
.head a{
    margin-top: 15px;
    text-decoration: none;
    color: aliceblue;
}
.head:hover{
   background-color: rgb(213, 108, 108);
}
#page{
    height: 90%;
    width: 100%;
    display: flex;   
   background-color: rgb(255, 228, 196);

}
#img{
    height: 50%;
    width: 50%;
    margin: 8%;

}
h1{
    font-style: inherit;
    font-family: sans-serif;
    margin: 10%;
    height: 10%;
    width: 50%;
    color: rgb(149, 18, 18);
}
#para{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    height: 30%;
    width: 100%;
    font: optional;
    margin-left: 2%;
    color: rgb(149, 18, 18);
}

button{
    margin-left: 10%;
    height: 5%;
    width: 10%;
    border: none;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color:rgb(176, 20, 20);
}
button:hover{
    background-color:rgb(231, 35, 35);
}
button a{
    text-decoration: none;
    color: rgb(255, 228, 196) ;
}
#main1{
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 228, 196);
    display: flex;
    
}
#items{
    background-color:rgb(171, 30, 30);
    margin-left: 5%;
    height: 90%;
    width: 90%;
    display: flex;
}
.names{
    display: flex;
    margin: 2%;
    height: 90%;
    width: 50%;
    color: rgb(255, 228, 196);
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.price{
    margin: 1%;
    height: 90%;
    width: 50%;
    color: rgb(255, 228, 196);
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
li{
    margin: 3%;
    height: 15%;
}
.price ul li{
    margin: 10%;
    margin-top: 2%;
}
#imges{
    height: 90%;
    width: 90%;
    align-items: center;
}
.img{
    object-fit: cover;
    margin: 2%;
    height:50% ;
    width:60% ;
}
#img2{
    height: 90%;
    display: flex;
}
.headr{
    display: flex;
    height: 10%;
    width: 100%;
}
.head a{
    text-align: center;
   margin-top: 10%;
}
#page2{
    height:90%;
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: rgb(255, 228, 196);
    
}
#box{
    height: 40%;
    width: 95%;
    display: flex;
    margin-left: 2%;
}
#box1{
    height: 40%;
    width: 95%;
    display: flex;
    margin-left: 2%;
}
#strip{
    height: 5%;
    width: 95%;
    display: flex;

}
.boxx{
    height: 90%;
    width: 30%;
    margin: 1%;
   
}
.boxx:hover{
    transition: all 2s;
    scale: 1.2;
}
.btns{
    margin-left: 20%;
    height: 100%;
    width: 10%;
}
.boxx img{
     object-fit: cover;
}
#page3{
    height: 90%;
    width: 100%;
   background-color: rgb(255, 228, 196);
}
h2{
    height: 5%;
    width: 20%;
    color:rgb(171, 30, 30) ;
   padding: 60px;
   margin-left: 40%;
}
#info{
    height: 40%;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    display: flex;

}
.box1{
    height: 90%;
    width: 30%;
    margin: 1%;
    background-color:rgb(193, 22, 22) ;
    color: rgb(255, 228, 196);
    box-shadow: 0px 20px 20px rgb(193, 22, 22);

}
h3{
    height: 20%;
   width: 60%;
   margin-left: 40%;
}
p{
    font-size: larger;
    height: 80%;
    text-align: center;
}




